<!-- /snippets/breadcrumb.liquid -->
{% unless template == 'index' or template == 'cart' %}
  <nav class="breadcrumb forma-shell" role="navigation" aria-label="{{ 'general.breadcrumbs.aria_label' | t }}">
    <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
    {% if template contains 'product' %}
      {% if collection %}
        <span aria-hidden="true">/</span>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
      {% endif %}
      <span aria-hidden="true">/</span>
      <span>{{ product.title }}</span>
    {% elsif template contains 'collection' and collection.handle %}
      <span aria-hidden="true">/</span>
      <span>{{ collection.title }}</span>
    {% elsif template contains 'page' %}
      <span aria-hidden="true">/</span>
      <span>{{ page.title }}</span>
    {% elsif template contains 'blog' %}
      <span aria-hidden="true">/</span>
      <span>{{ blog.title }}</span>
    {% elsif template contains 'article' %}
      <span aria-hidden="true">/</span>
      <a href="{{ blog.url }}">{{ blog.title }}</a>
      <span aria-hidden="true">/</span>
      <span>{{ article.title }}</span>
    {% endif %}
  </nav>
{% endunless %}
