<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{ request.locale.iso_code }}"> <![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="{{ request.locale.iso_code }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="{{ request.locale.iso_code }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title }}{% if current_tags %} – {{ current_tags | join: ', ' }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}</title>
    {{ content_for_header }}
    {{ 'forma-theme.css.liquid' | asset_url | stylesheet_tag }}
    <script src="{{ 'timber.js.liquid' | asset_url }}" defer></script>
    <script src="{{ 'ajax-cart.js.liquid' | asset_url }}" defer></script>
    <script src="{{ 'forma-theme.js' | asset_url }}" defer></script>
    {% render 'oldIE-js' %}
  </head>
  <body class="template-{{ template.name | handle }}">
    {% render 'site-header' %}
    {% render 'breadcrumb' %}

    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% render 'site-footer' %}
  </body>
</html>
